body {
  font-family: "Scada", sans-serif;
  min-width: 360px;
  background: darken(white, 5%);
  color: black;
}
a {
  &:hover {
    text-decoration: none;
  }
}
.material-icons {
  vertical-align: middle;
}
.colorize {
  background: url("/advert/img/back.png") center;
  text-align: left;
}

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 10px 5%;
  & > .logo {
    line-height: 80px;
    font-size: 25px;
    color: #303030;

    figure {
      text-shadow: 0px 0px 5px #fff;
      box-shadow: 0 2px 10px 1px grey;
    }
  }
  .btn-group {


    a {
      padding: .25rem 1.5rem;
      &:first-child {
        border-radius: 3px 0 0 3px;
      }
      &:last-child {
        border-radius: 0 3px 3px 0;
      }
    }

    figure {
      display: block;
      margin: auto;
    }
  }
}
body > main {
  margin: 20px 20%;
  background: white;
  border-radius: 4px;

  & > header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .form-input {
      margin: 0 15px;
      width: 220px;
      display: inline;
    }
    &>div {
      white-space: nowrap;
    }
  }

  & > section {
    padding: 0 20px 20px 20px;
    overflow: scroll;
  }
}
.back-plate {
  background: #ffe7d0;
  width: 120%;
  height: 300px;
  position: fixed;
  top: -100px;
  left: 0;
  z-index: -1;
  transform: rotate(5deg);
}

/* Webkit scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: lighten(@color-primary, 10%);
  border: 0px none #ffffff;
  border-radius: 0 0 4px 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: @color-primary;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:active {
  background: lighten(@color-primary, 20%);
}
::-webkit-scrollbar-track {
  //background: transparent;
  border-radius: 3px;
}
::-webkit-scrollbar-track:active {
  background: lighten(@color-primary, 40%);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
