@import "tailwind.css";

@primary: #8DA2B6;
@secondary: #48bb78;
@background: #eff3f6;

body {
  font-family: "Scada", sans-serif;
  min-width: 360px;
}

.gr-input {
	background-color: #edf2f7;
	border-radius: .25rem;
	height: 2rem;
	padding: .25rem;
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.06);
}

.fontSize-xs 	{ font-size: 8px; }
.fontSize-s 	{ font-size: 12px; }
.fontSize-sm 	{ font-size: 16px; }
.fontSize-m 	{ font-size: 18px; }
.fontSize-l 	{ font-size: 24px; }
.fontSize-xl 	{ font-size: 32px; }
.fontSize-xxl 	{ font-size: 40px; }

#popup, #hudPopup, #hotPopup {
	opacity: 100%;
	transition: all 0.2s ease;
	& > div {
		transition: all 0.2s ease;
		margin-top: 0;
	}
	&.invisible {
		opacity: 0;
		& > div {
			margin-top: -3%;
		}
	}

}

.form-switch {
	display: block;
	line-height: 1.2rem;
	margin: .2rem 0;
	min-height: 1.4rem;
	padding: .1rem .4rem .1rem 1.2rem;
	position: relative;
	padding-left: 2rem;

	input {
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		position: absolute;
		width: 1px;
		&:focus + .form-icon {
			border-color: @secondary;
		}
		&:checked + .form-icon {
			background: @secondary;
			border-color: @secondary;
		}
	}

	.form-icon {
		border: .05rem solid #bcc3ce;
		cursor: pointer;
		display: inline-block;
		position: absolute;
		transition: background .2s, border .2s, box-shadow .2s, color .2s;
		background: #bcc3ce;
		background-clip: padding-box;
		border-radius: .45rem;
		height: .9rem;
		left: 0;
		top: .25rem;
		width: 1.75rem;
		&::before {
			background: #fff;
			border-radius: 50%;
			content: "";
			display: block;
			height: .8rem;
			left: 0;
			position: absolute;
			top: 0;
			transition: background .2s, border .2s, box-shadow .2s, color .2s, left .2s;
			width: .8rem;
		}
	}
	input {
		&:checked + .form-icon {
			&::before {
				left: 14px;
			}
		}
		&:active + .form-icon {
			&::before {
				background: @secondary;
			}
		}
	}
}
.text-hint {
	i:hover {
		& + div {
			display: block;
		}
	}
}
.colorize {
	color: white;
	background: url(/../../img/back.png) center;
	text-align: left;
	background-size: cover;
	white-space: nowrap;
	vertical-align: middle;
	padding: 8px;
	line-height: 1.1;
	min-width: 300px;
}
.chips {
	span {
		font-size: .75rem;
		margin: .75px;
		color: white;
		padding: 0 .25rem;
		border-radius: .25rem;
	}
}
.chips2 {
	span {
		cursor: pointer;
		font-size: .75rem;
		margin: 2px 1px;
		color: white;
		padding: 0 .25rem;
		border-radius: .25rem;
	}
}

table {
	tr:nth-child(even) {
		background: #f6f8fb;
	}
	i:hover {
		color: #48BB78;
	}
}
.tab-active {
	color: #2d3748;
	font-weight: bolder;
	background: white;
	box-shadow: 0 18px 0 0 #fff;
	border-radius: 5px 5px 0 0;
}

// Source: https://github.com/picturepan2/spectre/blob/master/src/_tooltips.scss
// Tooltips
.tooltip {
  position: relative;
  &::after {
    background: rgba(48,55,66,.95);
    border-radius: .1rem;
    bottom: 100%;
    color: #fff;
    content: attr(data-tooltip);
    display: block;
    font-size: 0.8em;
    left: 50%;
    max-width: 320px;
    opacity: 0;
    overflow: hidden;
    padding: .2rem .4rem;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-50%,.4rem);
    transition: opacity .2s,transform .2s;
    white-space: pre;
    z-index: 300;
  }
  &:focus,
  &:hover {
    &::after {
      opacity: 1;
      transform: translate(-50%,-.2rem);
    }
  }
  &[disabled],
  &.disabled {
    pointer-events: auto;
  }

  &.tooltip-right {
    &::after {
      bottom: 50%;
      left: 100%;
      transform: translate(-.2rem, 50%);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(.2rem, 50%);
      }
    }
  }

  &.tooltip-bottom {
    &::after {
      bottom: auto;
      top: 100%;
      transform: translate(-50%, -.4rem);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(-50%, .2rem);
      }
    }
  }

  &.tooltip-left {
    &::after {
      bottom: 50%;
      left: auto;
      right: 100%;
      transform: translate(.4rem, 50%);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translate(-.2rem, 50%);
      }
    }
  }
}


/* Webkit scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: lighten(@primary, 10%);
  border: 0px none #ffffff;
  border-radius: 4px 0 4px 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: @primary;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:active {
  background: lighten(@primary, 20%);
}
::-webkit-scrollbar-track {
  border-radius: 3px;
}
::-webkit-scrollbar-track:active {
  background: lighten(@primary, 40%);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
