<h5 class="m-2 p-2">{{@T.ads}}:<span>{{@T.total}}: {{count(@@ads)}}</span></h5>
<div class="" style="overflow-x: scroll;">
  <table class="table table-striped table-hover text-center">
    <thead>
      <tr>
        <th>{{@T.active}}</th>
        <th class="text-left" style="max-width: 15%;">{{@T.servers}}</th>
        <th>{{@T.type}}</th>
        <th class="text-left">{{@T.text}}</th>
        <th>{{@T.vip}}</th>
        <th>{{@T.order}}</th>
        <th style="white-space: nowrap;">{{@T.day_of_week}}</th>
        <th class="text-right" style="white-space: nowrap;">{{@T.hours}}</th>
        <th>{{@T.action}}</th>
      </tr>
    </thead>
    <tbody id="items_list">
      <repeat group="{{@@ads}}" value="{{@adv}}">
        <tr <check if="{{@adv.show==0}}">style="background: #dfdfdf;"</check>>
          <td><a><i class="material-icons secondary-text"><check if="{{@adv.show}}"><true>visibility</true><false>visibility_off</false></check></i></a></td>
          <td class="text-left" style="font-size: 10px; width: 15%;">
            <repeat group="{{@@adv.servers}}" value="{{@server}}">{{@server.title}} </repeat>
          </td>
          <td>{{ @adv.msg_type }}</td>
          <td class="text-left colorize" style="vertical-align:middle;">{{ @adv.msg_text|raw }}</td>
          <td>{{ @adv.is_vip }}</td>
          <td>{{ @adv.order }}</td>
          <td>{{ @adv.day_of_week }}</td>
          <td class="text-right">{{ @adv.hours }}</td>
          <td class="" style="white-space: nowrap;">
            <a class="tooltip" data-tooltip="{{@T.edit}}" id="{{@adv.adv_id}}" href="#btn_edit"><i id="{{@adv.adv_id}}" class="material-icons">edit</i></a>
            <a class="tooltip" data-tooltip="{{@T.delete}}" id="{{@adv.adv_id}}" href="{{@BASE}}/ex/ads/{{@adv.adv_id}}/delete"><i class="material-icons">delete_forever</i></a>
          </td>
        </tr>
      </repeat>
    </tbody>
  </table>
</div>
<div class="modal2">
  <a class="modal2-close"></a>
  <section class="col-6 col-md-11">
    <header>
      <span id="title" lang1="{{@T.add_ads}}" lang2="{{@T.edit_ads}}">{{@T.add_ads}}:</span>
      <a href="#close"><i class="material-icons">close</i></a>
    </header>
    <main style="overflow-y: scroll;">
      <form class="form-horizontal" action="{{@BASE}}/ex/ads" method="post">
        <input type="hidden" id="in_ads_id" name="adv_id" value="">
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label">{{@T.servers}}:</label>
          </div>
          <div class="col-9 col-sm-12">
            <label class="form-switch">
              <input class="f-input" type="checkbox" id="in_show" name="show"><i class="form-icon"></i>{{@T.active}}
            </label>
            <select class="form-select select-sm f-input" id="in_srv_id" required multiple name="srv_id[]" value="-1">
              <repeat group="{{@@servers}}" value="{{@server}}">
                <option value="{{@server.srv_id}}">{{@server.title}}</option>
              </repeat>
            </select>
          </div>

        </div>
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label">{{@T.type}}:</label>
          </div>
          <select class="col-9 col-sm-12 form-select select-sm f-input" id="in_msg_type" name="msg_type"  required>
            <option value="1">{{@T.chat}}</option>
            <option value="2">HUD</option>
          </select>
        </div>
        <div class="form-group" id="group_hud" style="display:none;">
          <div class="col-3 col-sm-12">
            <label class="form-label">{{@T.hud_style}}:</label>
          </div>
          <div class="col-9 col-sm-12">
            <label class="form-label label-sm col-9" >Color1:</label>
            <input class="form-input input-sm f-input" type="text" id="in_hud_color1" name="hud[color1]" placeholder="255 255 255 255" value="255 255 255 255">
            <label class="form-label label-sm col-9" >Color2:</label>
            <input class="form-input input-sm f-input" type="text" id="in_hud_color2" name="hud[color2]" placeholder="255 255 255 255" value="255 255 255 255">
            <label class="form-label label-sm">Effect:</label>
            <input class="form-input input-sm f-input" type="number" id="in_hud_effect" name="hud[effect]" placeholder="0" min=0 step=1 value="0">
            <label class="form-label label-sm">Fadein:</label>
            <input class="form-input input-sm f-input" type="number" id="in_hud_fadein" name="hud[fadein]" placeholder="0.1" min=0.0 step=0.1 value="0.1">
            <label class="form-label label-sm">Fadeout:</label>
            <input class="form-input input-sm f-input" type="number" id="in_hud_fadeout" name="hud[fadeout]" placeholder="0.1" min=0.0 step=0.1 value="0.1">
            <label class="form-label label-sm">Holdtime:</label>
            <input class="form-input input-sm f-input" type="number" id="in_hud_holdtime" name="hud[holdtime]" placeholder="0.1" min=0.0 step=0.1 value="0.1">
            <label class="form-label label-sm">Fxtime:</label>
            <input class="form-input input-sm f-input" type="number" id="in_hud_fxtime" name="hud[fxtime]" placeholder="0.1" min=0.0 step=0.1 value="0.1">
            <label class="form-label label-sm">X:</label>
            <input class="form-input input-sm f-input" type="number" id="in_hud_x" name="hud[x]" placeholder="0.1" min=0.0 max=1.0 step=0.01 value="0.1">
            <label class="form-label label-sm">Y:</label>
            <input class="form-input input-sm f-input" type="number" id="in_hud_y" name="hud[y]" placeholder="0.1" min=0.0 max=1.0 step=0.01 value="0.1">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label">{{@T.format_tips}}:</label>
          </div>
          <div class="col-9 col-sm-12 form-group">
            <div class="popover popover-bottom">
              <a class="btn btn-sm primary">{{@T.chat_colors}}</a>
              <div class="popover-container card" style="top:65%;">
                <img style="display:block;" src="{{@BASE}}/img/clrs6.png">
              </div>
            </div>
            <div class="popover popover-bottom px-2">
              <a class="btn btn-sm primary">{{@T.servers}}</a>
              <div class="popover-container card" style="top:65%;">
                {/time}, {/date}, {/addr}, {/port},
                {/hostname}, {/hostname_db}, {/slots}, {/players}, {/map}, {/nextmap}, {/tickrate}, {/timeleft}
              </div>
            </div>
            <div class="popover popover-bottom">
              <a class="btn btn-sm primary">{{@T.player}}</a>
              <div class="popover-container card" style="top:65%;">
                {\nick}, {\steamid}, {\steamid64}, {\vipGroup}, {\vipTime}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label">{{@T.text}}:</label>
          </div>
          <div class="col-9 col-sm-12 form-group">
            <textarea class="form-input f-input" id="in_msg_text" name="msg_text" required placeholder="Введите текст..." rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label">{{@T.time_limits}}:</label>
          </div>
          <div class="col-9 col-sm-12 form-group">
            <label class="form-label label-sm">{{@T.date_from}}:</label>
            <input class="form-input input-sm f-input" type="date" id="in_date_from" name="date_from" value="">
            <label class="form-label label-sm">{{@T.date_to}}:</label>
            <input class="form-input input-sm f-input" type="date" id="in_date_to" name="date_to" value="">
            <label class="form-label label-sm">{{@T.hours}} ("0-6;10-24;"):</label>
            <input class="form-input input-sm f-input" type="text" id="in_hours" name="hours" id="in_value" placeholder="Значение" value="0-24;">
            <label class="form-label label-sm">{{@T.day_of_week}} ("1-7;"):</label>
            <input class="form-input input-sm f-input" type="text" id="in_day_of_week" name="day_of_week" id="in_value" placeholder="Значение" value="0-7;">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label">{{@T.targeting}}:<br>({{@T.not_implemented}})</label>
          </div>
          <div class="col-9 col-sm-12 form-group">
            <label class="form-label col-9 label-sm" >{{@T.vip}}:</label>
            <select class="col-9 col-sm-12 form-select select-sm f-input" id="in_is_vip" name="is_vip" value="0">
              <option value="-1">Not vip</option>
              <option value="0">Any</option>
              <option value="1">Only vip</option>
            </select>
            <label class="form-label label-sm col-6" >{{@T.admin_flags}}:</label>
            <input class="form-input input-sm f-input" type="text" id="in_admin_flags" name="admin_flags" id="in_value" placeholder="..." value="">
            <label class="form-label label-sm" >{{@T.views}}:</label>
            <input class="form-input input-sm f-input" type="number" id="in_views" name="views" placeholder="-1" value="-1" min=-1>
            <label class="form-label label-sm" >{{@T.order2}}:</label>
            <input class="form-input input-sm f-input" type="number" id="in_order" name="order" placeholder="1000" value="1000" min=1 max=1000>
          </div>
        </div>
    </main>
    <footer>
      <button class="primary mx-2" type="submit" lang1="{{@T.add}}" lang2="{{@T.edit}}">{{@T.add}}</button>
      <a class="cancel" href="#close">{{@T.close}}</a>
      </form>
    </footer>
  </section>
</div>
