<h5 class="m-2 p-2">{{@T.servers}}:<span>{{@T.total}}: {{count(@@servers)}}</span></h5>
<div class="" style="overflow-x: auto;">
  <table class="table table-striped table-hover text-center">
    <thead>
      <tr>
        <th class="text-right">Id</th>
        <th class="text-left">{{@T.title}}</th>
        <th class="text-right">{{@T.address}}</th>
        <th class="text-right">{{@T.port}}</th>
        <th class="text-right">{{@T.timer}}</th>
        <th  style="">{{@T.action}}</th>
      </tr>
    </thead>
    <tbody id="items_list">
      <repeat group="{{@@servers}}" value="{{@server}}">
        <tr>
          <td class="text-right">{{ @server.srv_id }}</td>
          <td class="text-left">{{ @server.title }}</td>
          <td class="text-right">{{ @server.ip }}</td>
          <td class="text-right">{{ @server.port }}</td>
          <td class="text-right">{{ @server.adv_time}}s</td>
          <td class="" style="white-space: nowrap;">
            <a class="confirm tooltip" data-tooltip="{{@T.update_ads}}" href="{{@BASE}}/ex/rcon/{{@server.srv_id}}"><i class="material-icons">publish</i></a>
            <a class="tooltip" data-tooltip="{{@T.edit}}" id="{{ @server.srv_id }}" href="#btn_edit"><i id="{{ @server.srv_id }}" class="material-icons">edit</i></a>
            <a class="tooltip" data-tooltip="{{@T.delete}}" id="{{ @server.srv_id }}" href="{{@BASE}}/ex/server/{{@server.srv_id}}/delete"><i class="material-icons">delete_forever</i></a>
          </td>
        </tr>
      </repeat>
    </tbody>
  </table>
</div>

<div class="modal2">
  <a class="modal2-close"></a>
  <section class="col-3 col-md-11">
    <header>
      <span id="title" lang1="{{@T.add_server}}" lang2="{{@T.edit_server}}">Add server:</span>
      <a href="#close"><i class="material-icons">close</i></a>
    </header>
    <main>
      <form class="form-horizontal" action="{{@BASE}}/ex/server" method="post">
        <input type="hidden" id="in_srv_id" name="srv_id" value="">
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label" for="input-example-1">{{@T.title}}:</label>
          </div>
          <div class="col-9 col-sm-12">
            <input class="form-input f-input" type="text" name="title" id="in_title" required placeholder="{{@T.title}}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label" for="input-example-1">{{@T.address}}:</label>
          </div>
          <div class="col-9 col-sm-12">
            <input class="form-input f-input" type="text" name="ip" id="in_ip" required placeholder="{{@T.address}}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label" for="input-example-1">{{@T.port}}:</label>
          </div>
          <div class="col-9 col-sm-12">
            <input class="form-input f-input" type="number" name="port" id="in_port" required placeholder="{{@T.port}}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label" for="input-example-1">{{@T.rcon}}:</label>
          </div>
          <div class="col-9 col-sm-12">
            <input class="form-input f-input" type="text" name="rcon" id="in_rcon" required placeholder="{{@T.rcon}}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label" for="input-example-1">{{@T.timer}}:</label>
          </div>
          <div class="col-9 col-sm-12">
            <input class="form-input f-input" type="number" name="adv_time" id="in_adv_time" placeholder="45" value="45">
          </div>
        </div>

    </main>
    <footer>
      <button class="primary mx-2" type="submit" lang1="{{@T.add}}" lang2="{{@T.edit}}">{{@T.add}}</button>
      <a class="cancel" href="#close">{{@T.close}}</a>
    </footer>
    </form>
  </section>
</div>
