<h5 class="m-2 p-2">{{@T.magic_words}}:<span>{{@T.total}}: <check if="{{is_array(@@words)}}">{{count(@@words)}}</check></span></h5>
<div class="" style="overflow-x: scroll;">
  <table class="table table-striped table-hover text-center">
    <thead>
      <tr>
        <th class="">Id</th>
        <th class="text-left">{{@T.key}}</th>
        <th class="text-left">{{@T.value}}</th>
        <th  style="width: 20%;">{{@T.action}}</th>
      </tr>
    </thead>
    <tbody id="items_list">
      <repeat group="{{@@words}}" value="{{@word}}">
        <tr>
          <td class="">{{ @word.word_id }}</td>
          <td class="text-left">{{"{"}}{{ @word.key }}{{"}"}}</td>
          <td class="text-left">{{ @word.value }}</td>
          <td class=""  style="white-space: nowrap;">
            <a class="tooltip" data-tooltip="{{@T.edit}}" id="{{@word.word_id}}" href="#btn_edit"><i id="{{@word.word_id}}" class="material-icons">edit</i></a>
            <a class="tooltip" data-tooltip="{{@T.delete}}" id="{{@word.word_id}}" href="{{@BASE}}/ex/words/{{@word.word_id}}/delete"><i class="material-icons">delete_forever</i></a>
          </td>
        </tr>
      </repeat>
    </tbody>
  </table>
</div>
<div class="modal2">
  <a class="modal2-close"></a>
  <section class="col-3 col-md-11">
    <header>
      <span id="title" lang1="{{@T.add_magic_word}}" lang2="{{@T.edit_magic_word}}">{{@T.add_magic_word}}:</span>
      <a href="#close"><i class="material-icons">close</i></a>
    </header>
    <main>
      <form class="form-horizontal" action="{{@BASE}}/ex/words" method="post">
        <input type="hidden" id="in_word_id" name="word_id" value="">
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label" for="input-example-1">{{@T.key}}:</label>
          </div>
          <div class="col-9 col-sm-12">
            <input class="form-input f-input" type="text" name="key" id="in_key" required placeholder="{{@T.key}}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label" for="input-example-1">{{@T.value}}:</label>
          </div>
          <div class="col-9 col-sm-12">
            <textarea class="form-input f-input" type="text" name="value" id="in_value" required placeholder="{{@T.value}}"></textarea>
          </div>
        </div>

    </main>
    <footer>
      <button class="primary mx-2" type="submit" lang1="{{@T.add}}" lang2="{{@T.edit}}">{{@T.add}}</button>
      <a class="cancel" href="#close">{{@T.close}}</a>  </form>
    </footer>
  </section>
</div>
