<!DOCTYPE html>
<html>
    <head>
        <title>{{@T.head_title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Scada:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
        <repeat group="{{ @styles }}" key={{@key}} value="{{@style}}">
            <link rel="stylesheet" type="text/css" href="{{@BASE}}/css/{{@style}}<check if="{{ !strpos(@style, '.css')}}">.css</check>">
        </repeat>
    </head>
    <body>
      <header class="columns <check if="{{@@V.wider}}"><true>col-10</true><false>col-6</false></check> col-md-11 col-mx-auto">
        <a class="logo" href="{{@BASE}}/">{{@T.logo_title}}</a>
        <a class="primary col-ml-auto text-bold" href="//hlmod.ru/resources/ac-advert-reklamnye-soobschenija.1237/"><span style="color:#ffd9d9;">HL</span><span style="color: #cceaff;">MOD</span></a>
      </header>
      <main class="columns <check if="{{@@V.wider}}"><true>col-10</true><false>col-6</false></check> col-md-11 col-mx-auto">
        <nav class="col-12 columns col-gapless">
          <div class="" style="display: flex; flex-direction: row; margin: 0;">
            <a class="item <check if="{{@@V.page=='servers'}}">active</check>" href="{{@BASE}}/">{{@T.servers}}</a>
            <a class="item <check if="{{@@V.page=='words'}}">active</check>" href="{{@BASE}}/words">{{@T.magic_words}}</a>
            <a class="item <check if="{{@@V.page=='ads'}}">active</check>" href="{{@BASE}}/ads">{{@T.ads}}</a>
          </div>
          <div class="column"></div>
          <div class="search">
            <input type="text" id="in_filter" value="" placeholder="{{@T.search}}...">
            <i class="material-icons">search</i>
          </div>
          <check if="{{@@V.button}}">
            <a class="secondary" href="{{@@V.button.href}}">{{@@V.button.text}}</a>
          </check>
        </nav>
        <section class="col-12">
          <check if="{{ @@content }}">
              <true><include href="{{ @content }}" /></true>
              <false><include href="cell/servers.htm" /></false>
          </check>
        </section>
        <footer class="my-2 p-centered">
          <a href="https://github.com/diller110/AC-Advert">AC:Advert v1.1a</a>
        </footer>
      </main>
      <script src="{{@BASE}}/js/scripts.js"></script>
    </body>
</html>
